body {
  background-color: #1ea825;
  margin: 20px;
}
.input{ width: 30px;
 margin-right: 5px; }

.h4{ margin-bottom:  40px;}

.span{ font-size: 110%;
 }

.deck {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  align-content: center;

}

.card {
  width: 100px;
  background: white;
  margin: 5px 5px;
  height: 150px;
  font-size: 10px;
  position: relative;
  text-align: center;
  line-height: 150px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}
.club, .diamond, .heart, .spade{

  font-size: 200%;
   flex-wrap: wrap;
  align-content: center;
  margin-top: 30px;
}

.club, .spade{
  color:black
}
.diamond, .heart {
  color:red
}

.heart::before,.heart::after{ content: "♡";
 }
.diamond::before,.diamond::after{ content: "♢"; }
.club::before,.club::after{ content: "♧"; }
 .spade::before,.spade::after{ content: "♤"; }
 ::before{
    position: absolute;
    top: -50px;
    left: 3px;
    padding-top: 10px;
  }	
  ::after {
    position: absolute;
    bottom: -50px;
    right: 3px;
    transform: rotate(180deg);
  }

  .d-inline {
    display: inline-block;
  }